<% content_for :title do %>
変更
<% end %>
<% content_for :style do %>
	<style>
        textarea{
            width: 800px;
            height: 50px;
            resize: none;
            overflow-y: scroll;
        }
        .mylabel{
            background-color: #0362ff;
            color: white;
            width: 160px;
        }
     </style>
<% end %>
<% content_for :button do %>
    <input type="button" value="戻る" onClick="location.href='/projects/list'" style="background-color:#0362ff;color:white;WIDTH: 100px; HEIGHT: 30px">
<% end %>

    <font size = "5pt" color = "blue"><b>変更</b></font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>必要事項を入力し登録を行ってください</b>
    <hr class="style2">
    <br>
    <div style="color: red">
    	<% if flash[:changeerror] %>
			<%= simple_format(flash[:changeerror], {}, wrapper_tag: "div") %>
    	<% end %>
    </div>
    <%= form_for @changeproject, :url => {:action => 'change'}, :method => :post do |f| %>
    <fieldset style="border: 1px solid #000000; padding: 10px;-webkit-border-radius: 5px;border-color: gainsboro;width: 1100px">
    <legend><b>新規明細登録</b></legend>
        <table style="table-layout: fixed">
            <tr>
                <td class ="mylabel">発生日</td><td><%= f.text_field :start_date, {:maxlength => '10', :disabled => true} %></td>
            </tr>
            <tr>
                <td class ="mylabel">案件番号</td>
                <td>
                    <%= f.text_field :project_no, {:maxlength => '15', :disabled => true} %>
                </td>
            </tr>
            <tr>
                <td class ="mylabel">案件名</td><td><%= f.text_field :project_name, {:maxlength => '30', :disabled => true} %></td>
            </tr>
            <tr>
                <td class ="mylabel">工程区分</td>
                <td>
                    <%= f.collection_select :protype_code, Projecttype.all, :protype_code, :protype_name, {}, {:include_blank => true, :disabled => true} %>
                </td>
            </tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            <tr>
                <td class ="mylabel">開発言語</td>
                <td>
                    <%= f.collection_select :language_code, Language.all, :language_code, :language_name, :include_blank => true %>
                </td>
            </tr>
            <tr>
                <td class ="mylabel">概要</td><td><%= f.text_area :summary, {:maxlength => '255'} %></td>
            </tr>
            <tr>
                <td class ="mylabel">状態</td>
                <td>
                    <%= f.collection_select :status_code, Status.all, :status_code, :status_name, :include_blank => true %>
                </td>
            </tr>
            <tr>
                <td class ="mylabel">お客様担当者</td><td><%= f.text_field :customer, {:maxlength => '20'} %></td>
            </tr>
            <tr>
                <td class ="mylabel">担当者</td><td><%= f.text_field :charge, {:maxlength => '20'} %></td>
            </tr>
            <tr>
                <td class ="mylabel">レビュー者</td><td><%= f.text_field :reviewer, {:maxlength => '20'} %></td>
            </tr>
            <tr>
                <td class ="mylabel">リリース日</td><td><%= f.text_field :release_date, {:maxlength => '10'} %></td>
            </tr>
            <tr>
                <td class ="mylabel">備考</td><td><%= f.text_area :remarks, {:maxlength => '255'} %></td>
            </tr>
        </table></fieldset>
    <table><tr></tr></table>
    <table style="width: 100%;height: 40px;background-color:#0362ff;">
        <tr>
            <td align ="center"><input type="submit" value="変更" onClick="" style="WIDTH: 110px; HEIGHT: 30px;"></td>
        </tr>
    </table>
    <% end %>
    <br>